<!DOCTYPE html>
<html>
<head>
  <title>Roblox</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="icon" href="static/roblox.png" type="image/png">


</head>
<body class="profile-page">
  <div class="navbar">
    <a href="https://www.roblox.com/"><img src="static/logo.png" 
    style="width: 50px;
           max-width: 35px; "></a>
    <a onclick="window.location.href='/login'"><h1>Charts</h1></a>
    <a onclick="window.location.href='/login'"><h1>Marketplace</h1></a>
    <a onclick="window.location.href='/login'"><h1>Create</h1></a>
    <a onclick="window.location.href='/login'"><h1>Robux</h1></a>
    <div class="search-container" >
    <input type="text" placeholder="Search">
  </div>
   <a href="https://www.roblox.com/"style=" border-radius: 8px;
                         border-color: #646464;
                         background-color: #2e50e9;
                         border: 1px solid gray;
                          padding: 0.5rem 1rem;
                            color: gray;
                            color: white;
                             cursor: pointer;">Sign Up</a>
    <a  onclick="window.location.href='/login'" style=" border-radius: 8px;
                         border-color: #646464;
                         border: 1px solid gray;
                          padding: 0.5rem 1rem;
                            color: gray;
                             cursor: pointer;">log in</a>
  </div>
  
  <div class="profile-container">
    <img style="cursor: pointer;" onclick="window.location.href='/login'" src="static/profile.png" alt="Avatar" class="avatar">
    <h2 class="display-name">Fartutut</h2>
    <p style="cursor: pointer;" onclick="window.location.href='/login'" class="username">@fartytut</p>
    <p class="join-date">
  <span style="cursor: pointer;" onclick="window.location.href='/login'"><b>67</b> friends</span>
  <span style="cursor: pointer;" onclick="window.location.href='/login'"><b>504</b> followers</span>
  <span style="cursor: pointer;" onclick="window.location.href='/login'"><b>46</b> following</span>
  </p>
 <button onclick="window.location.href='/login'" style=" border-radius: 8px;
                         border-color: #646464;
                         background-color: #2e50e9;
                         border: 1px solid gray;
                          padding: 0.5rem 1rem;
                            color: gray;
                            color: white;
                             cursor: pointer;
                             font-size: 20px;"><b>Join server</b></button>
    <button onclick="window.location.href='/login'" style=" border-radius: 8px;
                         border-color: #646464;
                         background-color: transparent;
                         border: 1px solid gray;
                          padding: 0.5rem 1rem;
                            color: gray;
                            color: rgb(0, 0, 0);
                             cursor: pointer;
                             font-size: 20px;"><b>Add friend</b></button>
  </div>
  <div>
    <img onclick="window.location.href='/login'"  style="margin-top: 18%;
                max-width: 500px;
                cursor: pointer; 
                width: 500px;
                margin-left: 33%;
         "  src="static/pic1.png"> </div>

         <div>
             <img onclick="window.location.href='/login'"  style="margin-top: 5%;
                        max-width: 500px;
                        cursor: pointer;
                        margin-left: 33%; 
                         width: 500px;" src="static/pic2.png"></div>         
    <div>
        <img src="static/pic3.png" style="max-width: 500px;
                                          width: 480px;
                                          max-height: 100px;
                                          height: 90px;
                                          margin-bottom: 50px;
                                           margin-left: 33%;">
    </div>                     
    <p style="font-size: 10px;
              color: gray;
              max-width: 500px;
              width: 500px;
              margin-left: 33%;">
  ©2025 Roblox Corporation. Roblox, the Roblox logo and Powering Imagination are among our registered and unregistered trademarks in the U.S. and other countries.
</p>
<!-- Inside your header or navbar -->


</body>
</html>
